@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

#about{
    height: 500px;
    width: 90%;
    background-color: black;
    display: flex;
    margin-left: 3%;
}

#about p{
    color: white;
    font-size: 20px;
    margin-top: 7%;
}

#about img{
    border-radius: 5px;
    height: 270px;
    width: 400px;
    margin: 100px;
}
