@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.about{
    height: 500px;
    width: 100%;
    background-color: black;
    display: flex;
}

.about p{
    color: white;
    font-size: 20px;
    margin: 100px;
}

.about img{
    border-radius: 5px;
    height: 270px;
    width: 30%;
    margin: 100px;
}

.about.animate img{
    animation: about-img .7s ease-in-out;
  }  
.about.animate p{
    animation: aboutP .7s ease-in-out;
  }  



@keyframes about-img {
    0%{
        transform: translateX(-200px);
    }
    100% {
        transform: translateX(0px);
    }
}
@keyframes aboutP {
    0%{
        transform: translateX(200px);
    }
    100% {
        transform: translateX(0px);
    }
}
