*{
    margin: 0px;
    padding: 0px;
}

.Projects{
    height: 800px;
    width: 100%;
    background-color: black;
}

.Components{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.compdiv{
    height: 300px;
    width: 300px;
    border: 2px solid whitesmoke;
    margin: 50px;
    border-radius: 10px;
}

.compdiv{
    color: white;
}

.image img{
    margin: 0px;
    padding: 0px;
    border-radius: 8px;
}