*{
    margin: 0px;
    padding: 0px;
}

#Projects{
    height: 800px;
    width: 100%;
    background-color: black;
}

.Components{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.compdiv{
    height: 300px;
    width: 300px;
    border: 2px solid whitesmoke;
    margin: 50px;
    border-radius: 10px;
}

.compdiv{
    color: white;
}

.image img{
    margin: 0px;
    padding: 0px;
    border-radius: 8px;
}

.redirect {
    height: 100px;
    width: 90%;
    margin: 10px;
}

.redirect img{
    margin: 10px;
    border-radius: 30px;
    filter: invert(1) hue-rotate(180deg) brightness(0.5);
    transition: 0.3s;
}
.redirect img:hover{
    margin: 10px;
    border-radius: 30px;
    filter: invert(1) hue-rotate(180deg) brightness(0.5);
    width: 40px;
    cursor: pointer;
}