@media screen and (max-width: 800px){
    .face{
        background-color: black;
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 5%;
        animation: slide .5s ease-in-out;
    }

    .face-main{
        display: flex;
        flex-direction: column;
        margin-left: 20%;
    }

    .linker img{
        width: 100px;
        margin-left: 20%;
    }
}

